<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
              <div class="product-card">
                <span class="prod-card-offer">{{discPercent}}% dicount</span>
                <img src={{imgUrl}} width="100%" alt="image">
                <h4 class="prod-card-title">{{title}}</h4>
                <p class="prod-card-dsc">{{breifDesc}}</p>
                <p class="prod-card-price">{{price}}$</p>
                <button class="btn-atc">add to cart</button>
              </div>
</div>